{% extends 'base.html' %}
{% load static %}
{% load filters %}

{% block estilos %}
<link rel="stylesheet" type="text/css" href="{% static 'css/fale_conosco.css' %}">
{% endblock %}
{% block titulo %}
GMP Academy
{% endblock %}

{% block container %}

<div class="container-fale-conosco">
    <div>
        <div class="fale-conosco">
            <h1>
                Cadastro de Questões
            </h1>
            
            <form action="{% url 'cadastro_questoes' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% include 'parciais/_messages.html' %}

                <label for="arquivo"> Envie um arquivo excel: </label>
                <input type="file" name="arquivo" id="arquivo">

                <div class="g-recaptcha" data-sitekey="{{RECAPTCHA_FRONT}}"></div>
                <input type="submit" id="submit" value="Enviar">
                <span class="loader"></span>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    const loader = document.querySelector('.loader');
    const buttonSubmit = document.querySelector('#submit');
    document.addEventListener('submit', e => {
        buttonSubmit.style.display = 'none';
        loader.style.display = 'inline-block';

    });
</script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}