{% extends 'base.html' %}
{% load static %}
{% load filters %}

{% block estilos %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock %}
{% block titulo %}
    Login - GMP Academy
{% endblock %}

{% block container %}

    <div class="container-login">
        <div>
            <div class="login">
                <h1>
                    <i class="fa-solid fa-right-to-bracket"></i>
                    Login
                </h1>
                <form action="{% url 'login' %}" method="POST">
                    {% csrf_token %}
                    {% include 'parciais/_messages.html' %}
                    <label for="email">E-mail:</label>
                    <input type="email" name="email" id="email" value="{{request.POST.email}}" required>
                    <label for="senha">Senha:</label>
                    <input type="password" name="senha" id="senha" required>
                    <div class="g-recaptcha" data-sitekey="{{RECAPTCHA_FRONT}}"></div>
                    <input type="submit" id="submit" value="Entrar">
                    <span class="loader"></span>
                </form>
                <span></span>
                <a href="{% url 'esqueceu_senha' %}">
                    <i class="fa-solid fa-lock"></i>
                    Esqueceu a senha?
                </a>
                <a href="{% url 'registro' %}">
                    <i class="fa-solid fa-user"></i>
                    Não tem uma conta? Registre-se
                </a>
            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}
    <script>
        const loader = document.querySelector('.loader');
        const buttonSubmit = document.querySelector('#submit');
        document.addEventListener('submit', e => {
            buttonSubmit.style.display = 'none';
            loader.style.display = 'inline-block';

        });
    </script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}
